{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>

        <tbody>
            {% for hist in history %}
                <tr>
                    <td>{{ hist.symbol }}</td>
                    <td>{{ hist.quantity }}</td>
                    <td>{{ hist.price | usd }}</td>
                    <td>{{ hist.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>





{% endblock %}